<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hengzq.orange.ai.core.biz.workflow.mapper.WorkflowMapper">


    <select id="selectWorkflowPage" resultType="cn.hengzq.orange.ai.common.biz.workflow.dto.WorkflowListResponse">
        SELECT w.id,
        w.wf_status AS workflow_status,
        IF(draft_v.id IS NOT NULL, draft_v.name, pub_v.name) AS name,
        IF(draft_v.id IS NOT NULL, draft_v.description, pub_v.description) AS description,

        w.tenant_id AS tenant_id,
        w.created_by AS created_by,
        w.created_at AS created_at,
        w.updated_by AS updated_by,
        w.updated_at AS updated_at,
        draft_v.id AS draft_version_id,
        pub_v.id AS published_version_id

        FROM ai_wf w
        LEFT JOIN ai_wf_version draft_v ON w.draft_version_id = draft_v.id
        LEFT JOIN ai_wf_version pub_v ON w.published_version_id = pub_v.id
        <where>
            <if test="request != null and request.name != null and request.name != ''">
                AND (
                (draft_v.id IS NOT NULL AND draft_v.name LIKE CONCAT('%', #{request.name}, '%'))
                OR
                (draft_v.id IS NULL AND pub_v.name LIKE CONCAT('%', #{request.name}, '%'))
                )
            </if>
        </where>
        order by w.updated_at DESC
    </select>

</mapper>
